

:root {
  --pCardMinWidth: 250px;
  --pCardHeight: 300px;
  
  --cornerRoundUnit: 5px;
  --pCardIconWidth: 40px;
  
  --unit: 5px;
  --twoUnits: 10px;
}

body {
  font-family:'Gill Sans', sans-serif;
  padding:var(--unit);
  margin:auto; /*Centers the body*/
  color:white; /*Default text color should be white*/
  background-image:url("chalkHorizontal.jpg");
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-size: 100% 100%;
}

div {
  color:white; /*Default text color should be white*/
}

h2 {
  margin-top:40px;
}

p, a {
  font-size: large;
  text-decoration: none;
}

#mailToLink {
  text-decoration:none;
  color:rgb(255, 255, 174)
}

.center {
  margin:auto;
  text-align:center;
}

#navMenu {
  margin-top:20px;
}

.navMenuOption, .navMenuOptionSeparator {
  display:inline;
  margin-left:10px;
  margin-right:10px;
  font-size:24px;
}

.navMenuOption {
  color:rgb(255, 255, 149);
}

#ikebotTitle {
  text-align:center;
}

#ikebotLogoImage {
  margin-top:100px;
  width: 100%;
  height: 100%
}

#ikebotLogoContainer {
  width: 250px;
  margin: auto;
}

#ikebotDescriptionText {
  text-align:center;
  max-width: 610px;
}


#ikeBischofImage {
  width: 100%;
  height: 100%;
  object-fit:cover;
  object-position:right;
}

#aboutMe {
  max-width: 800px;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-column-gap: 30px;
  margin-bottom:100px;
}

.pCardAnchor {
  text-decoration:none;
}

.pCard {
  background-color:rgb(53,53,53);
  /* background-color:gray; */
  width: auto;
  height: var(--pCardHeight);
  border-radius:var(--cornerRoundUnit);
  padding: var(--twoUnits);
  
  display: grid;
  grid-template-rows: 6fr 1fr 2fr;
  grid-column-gap:var(--unit);
  
  user-select:none;
  
}

.pCard:hover {
  background-color:rgb(95, 95, 95);
}

.pCardImageContainer {
  background-color:rgb(255, 255, 149);
  width: auto;
  height:auto;
  border-radius:var(--cornerRoundUnit);
  margin-bottom:var(--unit);
  padding: var(--unit);
  
  background-image: url("ikeBischof.jpg");
  background-size: cover;
  background-position: center;
  
  display: grid;
  grid-template-columns: 1fr repeat(3, var(--pCardIconWidth));
  grid-template-rows: 1fr var(--pCardIconWidth);
  grid-column-gap:var(--unit);
}

.pCardImage {
  width:100%;
  height:100%;
  border-radius:var(--cornerRoundUnit);
  object-fit:cover;
}

.pCardTitleContainer {
  width:100%;
  align-items:center;
  padding-top:10px;
  margin-bottom:5px;
}

.pCardTitle {
  vertical-align:middle;
  font-weight:bold;
}

.pCardDescriptionContainer {
  display:inline-block;
  overflow:hidden;
  white-space:wrap;
  line-height:16px;
}

.pCardDescription {
  width: 100%;
  height: 100%;
  font-size:small;
  text-align:justify;
  color:rgb(182, 182, 182);
}

.pCardReadMore {
  font-size:small;
  font-weight:bold;
}

.pCardReadMoreContainer {
  /*Contains "read more" and date*/
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.pCardDate {
  font-size:small;
  font-style:italic;
  color:rgb(182,182,182);
  text-align:right;
}

.iconDiv{
  /* background-color:red; */
}

.iconImage{
  width:100%;
  height:100%;
  object-fit:scale-down;
}

.testDiv{
  background-color:red;
}

.testDiv2{
  background-color:brown;
  width:100%;
  height:30px;
  
}

@media screen and (max-width: 600px) {
  /* If the screen width is less than 600px, treat it like mobile */
  .pCardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1fr, 1fr));
    grid-gap:var(--twoUnits);
  }
  
  body {
    width: 90%;
    background-image:url("chalkVertical.jpg")
  }
}

@media screen and (min-width: 601px) {
  /* If the screen width is more than 600px, treat it like PC */
  .pCardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--pCardMinWidth), 1fr));
    grid-gap:var(--twoUnits);
  }
  
  body {
    width: 80%;
    background-image:url("chalkHorizontal.jpg")
  }
}